
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Company</th>
      <th>Permission Reminder</th>
      <th>From Email</th>
      <th>Date Created</th>
    </thead>
    <tbody>
      <tr>
        <% @list = current_list %>
        <td><%= @list["id"] %></td>
        <td><%= @list["name"] %></td>
        <td><%= @list["contact"]["company"] %></td>
        <td><%= @list["permission_reminder"] %></td>
        <td><%= @list["campaign_defaults"]["from_email"] %></td>
        <td><%= @list["date_created"] %></td>
      </tr>
    </tbody>
  </table>
</div>

