<div class="container">
  <h2>
    <span>Lists</span>
    <%= link_to "Add List", new_list_path, class: 'btn btn-primary pull-right' %>
  </h2>
  <hr/>
</div>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Company</th>
    <th>Permission Reminder</th>
    <th>From Email</th>
    <th>Date Created</th>
    <th colspan="2">Options</th>
  </thead>
  <tbody>

    <% @lists.each do |list| %>
      <tr>
        <td><%= list["id"] %></td>
        <td><%= list["name"] %></td>
        <td><%= list["contact"]["company"] %></td>
        <td><%= list["permission_reminder"] %></td>
        <td><%= list["campaign_defaults"]["from_email"] %></td>
        <td><%= list["date_created"] %></td>
        <td>
          <%= link_to "View", list_path(list["id"]), class: 'btn btn-info' %>
        </td>
        <td>
          <%= link_to "Delete", list_path(list["id"]), method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>
</div>

