
<%= render 'list' %>

<div class="container">
  <h2>
    <span>Subscribers</span>
    <%= link_to "Add Subscriber", new_list_subscriber_path(list_id: @list_id), class: 'btn btn-primary pull-right' %>
  </h2>
  <hr/>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Status</th>
      <th>Avg Open Rate</th>
    </thead>
    <tbody>
      <% @members.each do |member| %>
        <tr>
          <td><%= member["id"] %></td>
          <td><%= member["merge_fields"]["FNAME"] %> <%= member["merge_fields"]["LNAME"] %></td>
          <td><%= member["email_address"] %></td>
          <td><%= member["status"] %></td>
          <td><%= member["stats"]["avg_open_rate"] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
